@import url('nav.css');
.intro {
  border: 3px solid purple;
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.hobbies {
  float: left;
  background-color: violet;
  height: 300px;
  text-align: center;
  padding: 20px;
  width: 250px;
  margin: 20px;
}

.hobbies ol li {
  padding: 5px;
}

.music {
  float: left;
  background-color: cadetblue;
  height: 300px;
  text-align: center;
  padding: 20px;
  width: 250px;
  margin: 20px;
}

.music ol li {
  padding: 5px;
}
.games {
  float: left;
  background-color: chartreuse;
  height: 300px;
  text-align: center;
  padding: 20px;
  width: 250px;
  margin: 20px;
}
