table {
  width: 750px;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px blue solid;
  text-align: center;
  padding: 20px;
}

h1 {
  text-align: center;
}
