@import url('nav.css');

.container {
  width: 1000px;
  margin: auto;
  padding: 20px;
}

.shopping-list {
  border: 3px blue solid;
}

.shopping-list h2 {
  text-align: center;
}

.shopping-list dl {
  font-size: 18px;
  line-height: 1.2;
}
