* {
  color: #38b000;
  font-family: 'Nunito Sans', sans-serif;
  background-color: aqua;
}

.container {
  padding-top: 10px;
  margin: auto;
  height: 800px;
  text-align: center;
  padding-right: 15px;
}

#head {
  font-weight: 600;
}

.cards {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.card {
  border: 4px black solid;
  border-radius: 2em;
  width: 400px;
  height: 450px;
  margin: 4px 8px 12px 16px;
  padding-top: 5px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #fb6107;
}

.card p {
  background-color: white;
  border-radius: 2em;
}

.card h1 {
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  background-color: yellow;
  border-radius: 1em;
  color: #08bdbd;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.card img {
  background-color: #fb6107;
  width: 200px;
  height: 200px;
}
