@import url('nav.css');

.container {
  width: 1000px;
  margin: auto;
  padding: 20px;
}

.table-list {
  width: 700px;
  height: 400px;
  padding: 10px;
  margin: auto;
}

.table-list h2 {
  text-align: center;
}

.table-list table {
  border-collapse: collapse;
  padding: 20px;
}

.table-list th,
td {
  border: 1px purple solid;
  text-align: center;
  padding: 20px;
}
